<p id="notice"><%= notice %></p>

<h1>Our Octopi</h1>

  <div class="row">
    <% @octopi.each do |octopus| %>
      <div class="col-md-3">
        <div class="panel panel-default <% 'panel-success' if octopus.in_daycare %>">
          <div class="panel-heading">
        <h3 class="panel-title"><% octopus.name %><%= octopus.try(:owner).try(:name) %></h3>
      </div>
     <div class="panel-body">
        <%= image_tag octopus.avatar.url(:medium), class: "img-responsive" %>

        <%= octopus.id %>
        <%= octopus.name %>
        <%= octopus.breed.breed %>
        <%= link_to 'Show', octopus %>
        <%= link_to 'Edit', edit_octopus_path(octopus) %><i class="fa fa-pencil-square-o"></i>
        <%= link_to 'Destroy', octopus, method: :delete, data: { confirm: 'Are you sure?' } %><i class="fa fa-pencil-square-o"></i>
     </div>
   </div>
  </div>
<% end %>
</div>
  <% @octopi.each do |octopus| %>

<%= link_to 'New Octopus', new_octopus_path, class: 'btn btn-success' %>
<% end %>