<p id="notice"><%= notice %></p>

<h1>Listing Octopi</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Breed</th>
      <th>Dob</th>
      <th>Vet name</th>
      <th>Vet phone</th>
      <th>In daycare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @octopi.each do |octopus| %>
      <tr>
        <td><%= octopus.name %></td>
        <td><%= octopus.owner %></td>
        <td><%= octopus.breed %></td>
        <td><%= octopus.dob %></td>
        <td><%= octopus.vet_name %></td>
        <td><%= octopus.vet_phone %></td>
        <td><%= octopus.in_daycare %></td>
        <td><%= link_to 'Show', octopus %></td>
        <td><%= link_to 'Edit', edit_octopus_path(octopus) %></td>
        <td><%= link_to 'Destroy', octopus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Octopus', new_octopus_path %>
