<p id="notice"><%= notice %></p>
  <p>
    <h1>Our Octopi</h1>
    <p>filter by:</p>
    <% @breeds.each do |breed| %>
    <a href="?breed_ids=<%= breed.id %>"><button class="btn btn-default btn-sm"><%= breed.breed %></button></a>

    <% end %>
    </p>


  <div class="row">
    <% @octopi.each do |octopus| %>
      <div class="col-md-3">
        <div class="panel panel-default <% 'panel-success' if octopus.in_daycare %>">
          <div class="panel-heading">
           <h3 class="panel-title"><% octopus.name %><%= octopus.try(:owner).try(:name) %></h3>
             </div>
                <div class="panel-body">

          <%= form_for(octopus, url: octopus_path(octopus), :html => {class: "form-inline"}) do |f| %>
           <% if octopus.in_daycare %>
             <%= f.hidden_field :in_daycare, :value => false %>
             <%= f.submit "Check Out", class: "btn btn-warning btn-xs" %>
           <% else %>
             <%= f.hidden_field :in_daycare, :value => true %>
             <%= f.submit "Check In", class: "btn btn-success btn-xs" %>
           <% end %>
         <% end %>


        <%= image_tag octopus.avatar.url(:medium), class: "img-responsive" %>
        <%= octopus.name %>
        <%= octopus.breed.breed %>
        <%= link_to 'Show', octopus %>
        <%= link_to 'Edit', edit_octopus_path(octopus) %><i class="fa fa-pencil-square-o"></i>
        <%= link_to 'Destroy', octopus, method: :delete, data: { confirm: 'Are you sure?' } %><i class="fa fa-pencil-square-o"></i>
     </div>
   </div>
  </div>
<% end %>
</div>


<%= link_to 'New Octopus', new_octopus_path, class: 'btn btn-success' %>
